[submodule "website_sale_quick_cart"]
	path = website_sale_quick_cart
	url = https://github.com/ctmil/website_sale_quick_cart
	branch = 13.0
[submodule "website_sale_payment_discount"]
	path = website_sale_payment_discount
	url = https://github.com/ctmil/website_sale_payment_discount
	branch = 13.0
[submodule "website_product_publish"]
	path = website_product_publish
	url = https://github.com/ctmil/website_product_publish
	branch = 13.0
[submodule "website_sale_fancy"]
	path = website_sale_fancy
	url = https://github.com/ctmil/website_sale_fancy
	branch = 13.0
